<mjml>
	<mj-head>
		<mj-title>{subject}
		</mj-title>
		<mj-preview>Preview Text goes here
		</mj-preview>
	</mj-head>
	<mj-body background-color="#f3f3f3">
		<!--Main Container-->
		<!--Header Part Start-->
		<mj-section background-color="#FFFFFF" padding="0px" padding-top="30px">
			<mj-column width="50%">
				<mj-text align="center" font-size="12px" color="#3e3e3e" font-weight="normal"
					font-family="Arial, Helvetica, sans-serif">
					Free shipping orders over $150
				</mj-text>
			</mj-column>
			<mj-column width="50%">
				<mj-text align="center" font-size="12px" color="#c1c1c1" font-weight="normal"
					font-family="Arial, Helvetica, sans-serif">
					<span style="font-size: 11px">Having trouble reading this email? <a href="{webview_url}"
							style="color: #666666; text-decoration:underline;">Click here.</a></span>
				</mj-text>
			</mj-column>
			<mj-column width="100%">
				<mj-divider border-width="1px" border-color="#f3f3f3">
				</mj-divider>
			</mj-column>
		</mj-section>
		<!--Header Part End-->
		<!--Banner Text Part Start-->
		<mj-section background-color="#FFFFFF" padding="0px" padding-top="50px" padding-bottom="50px">
			<mj-column>
				<mj-text align="center" font-size="18px" color="#3e3e3e" font-family="Arial, Helvetica, sans-serif">
					October New Arrivals
				</mj-text>
				<mj-text align="center" font-size="36px" color="#3e3e3e" font-family="Arial, Helvetica, sans-serif">
					winter collection
				</mj-text>
			</mj-column>
		</mj-section>
		<!--Banner Text Part End-->
		<!--Banner Part Start-->
		<mj-section background-color="#FFFFFF" padding="0px" padding-bottom="0px">
			<mj-column>
				<mj-image src="{{ getAssetUrl('themes/'~template~'/assets/banner.jpg', null, null, true) }}"
					width="600px" alt="Banner Image" padding-top="0px" padding-bottom="0px" padding-right="0px"
					padding-left="0px">
				</mj-image>
			</mj-column>
		</mj-section>
		<!--Banner Part End-->
		<!--Services Part Start-->
		<mj-section background-color="#d8a158" padding="0px" padding-top="50px" padding-bottom="50px">
			<mj-column width="140px">
				<mj-image src="{{ getAssetUrl('themes/'~template~'/assets/icon1.png', null, null, true) }}" width="46px"
					alt="Free Shipping Icon" padding-bottom="0px">
				</mj-image>
				<mj-text font-size="16px" color="#fff" font-weight="bold" line-height="19px" align="center"
					font-family="Arial, Helvetica, sans-serif">
					Free Shipping
				</mj-text>
			</mj-column>
			<mj-column width="135px">
				<mj-image src="{{ getAssetUrl('themes/'~template~'/assets/icon2.png', null, null, true) }}" width="46px"
					alt="Easy Returns Icon" padding-bottom="0px">
				</mj-image>
				<mj-text font-size="16px" color="#fff" font-weight="bold" line-height="19px" align="center"
					font-family="Arial, Helvetica, sans-serif">
					Easy Returns
				</mj-text>
			</mj-column>
			<mj-column width="160px">
				<mj-image src="{{ getAssetUrl('themes/'~template~'/assets/icon3.png', null, null, true) }}" width="46px"
					alt="Money Back Guarantee Icon" padding-bottom="0px">
				</mj-image>
				<mj-text font-size="16px" color="#fff" font-weight="bold" line-height="19px" align="center"
					font-family="Arial, Helvetica, sans-serif">
					Money Back Guarantee
				</mj-text>
			</mj-column>
		</mj-section>
		<!--Services Part End-->
		<!--Product 1 Part Start-->
		<mj-section background-color="#d8a158" padding="0px">
			<mj-column width="300px">
				<mj-image src="{{ getAssetUrl('themes/'~template~'/assets/img1.jpg', null, null, true) }}" width="300px"
					alt="Product 1 Image" padding-top="0px" padding-bottom="0px" padding-right="0px" padding-left="0px">
				</mj-image>
			</mj-column>
			<mj-column width="300px">
				<mj-spacer height="80px" font-family="Arial, Helvetica, sans-serif">
				</mj-spacer>
				<mj-text font-size="24px" color="#fff" font-weight="500" font-family="Arial, Helvetica, sans-serif"
					line-height="28px">
					Geometric Pattern Poncho
				</mj-text>
				<mj-text font-size="18px" color="#482b05" font-weight="normal"
					font-family="Arial, Helvetica, sans-serif">
					$89.99 (all sizes)
				</mj-text>
				<mj-text font-size="14px" color="#482b05" text-transform="uppercase" font-weight="bold">
					<a href="#" style="color:#482b05;">SHOP NOW HERE</a>
				</mj-text>
			</mj-column>
		</mj-section>
		<!--Product 1 Part End-->
		<!--Product 2 Part Start-->
		<mj-section background-color="#d8a158" padding="0px">
			<mj-column width="300px" vertical-align="middle">
				<mj-spacer height="80px" font-family="Arial, Helvetica, sans-serif">
				</mj-spacer>
				<mj-text font-size="24px" color="#fff" font-weight="500" font-family="Arial, Helvetica, sans-serif"
					line-height="28px">
					Burgundy Wool Coat
				</mj-text>
				<mj-text font-size="18px" color="#482b05" font-weight="normal"
					font-family="Arial, Helvetica, sans-serif">
					$249.99 (sizes XS-XL)
				</mj-text>
				<mj-text font-size="14px" color="#482b05" text-transform="uppercase" font-weight="bold">
					<a href="#" style="color:#482b05;">SHOP NOW HERE</a>
				</mj-text>
			</mj-column>
			<mj-column width="300px">
				<mj-image src="{{ getAssetUrl('themes/'~template~'/assets/img2.jpg', null, null, true) }}" width="300px"
					alt="Product 2 Image" padding-top="0px" padding-bottom="0px" padding-right="0px" padding-left="0px">
				</mj-image>
			</mj-column>
		</mj-section>
		<!--Product 2 Part End-->
		<!--Product 3 Part Start-->
		<mj-section background-color="#d8a158" padding="0px">
			<mj-column width="300px">
				<mj-image src="{{ getAssetUrl('themes/'~template~'/assets/img3.jpg', null, null, true) }}" width="300px"
					alt="Product 3 Image" padding-top="0px" padding-bottom="0px" padding-right="0px" padding-left="0px">
				</mj-image>
			</mj-column>
			<mj-column width="300px">
				<mj-spacer height="80px" font-family="Arial, Helvetica, sans-serif">
				</mj-spacer>
				<mj-text font-size="24px" color="#fff" font-weight="500" font-family="Arial, Helvetica, sans-serif"
					line-height="28px">
					Chanel Rouge Allure Velvet
				</mj-text>
				<mj-text font-size="18px" color="#482b05" font-weight="normal"
					font-family="Arial, Helvetica, sans-serif">
					$42.00 (0.12 oz / 3.5 g)
				</mj-text>
				<mj-text font-size="14px" color="#482b05" text-transform="uppercase" font-weight="bold">
					<a href="#" style="color:#482b05;">SHOP NOW HERE</a>
				</mj-text>
			</mj-column>
		</mj-section>
		<!--Product 3 Part End-->
		<!--Footer Part Start-->
		<mj-section background-color="#d8a158" padding="0px" padding-top="50px">
			<mj-column>
				<mj-image src="{{ getAssetUrl('themes/'~template~'/assets/logo.png', null, null, true) }}" width="60px"
					height="25px" alt="Logo">
				</mj-image>
				<mj-social font-size="12px" icon-size="24px" border-radius="12px" mode="horizontal">
					<mj-social-element name="facebook" src="{{ getAssetUrl('themes/'~template~'/assets/fb.png', null, null, true) }}" background-color="rgba(0,0,0,0)">
					</mj-social-element>
					<mj-social-element name="instagram" src="{{ getAssetUrl('themes/'~template~'/assets/insta.png', null, null, true) }}" background-color="rgba(0,0,0,0)">
					</mj-social-element>
					<mj-social-element name="pinterest" src="{{ getAssetUrl('themes/'~template~'/assets/pin.png', null, null, true) }}" background-color="rgba(0,0,0,0)">
					</mj-social-element>
				  </mj-social>
				<mj-text align="center" color="#482b05">
					<p>You received this email because you signed up on our
						<br>website or made a purchase from us.
					</p>
				</mj-text>
				<mj-text align="center">
					<p>{unsubscribe_text}
					</p>
				</mj-text>
			</mj-column>
		</mj-section>
		<mj-section background-color="#ffffff">
			<mj-column>
				<mj-text padding-top="0px" padding-bottom="0px" align="center">
					<p>25894 New street,WD25384. Ph:(256) 985-63598
					</p>
				</mj-text>
			</mj-column>
		</mj-section>
		<!--Footer Part End-->
	</mj-body>
</mjml>